<div class="titulo">
  <h3>
    Cadastro de pessoa
  </h3>
</div>

<div class="row">
  <div class="col s12 m3 l3">
    <mat-form-field>
      <!--APP MODULE TS É AONDE IMPORTA OS  COMPONENTES DO MATERIAL-->
      <input matInput placeholder="Id" type="number" [(ngModel)]="pessoa.pessoaId" required>
      <!-- NgModel referencia o html com typeScript-->
    </mat-form-field>
  </div>
  <div class="col s12 m9 l9">
    <mat-form-field>
      <input matInput placeholder="Nome" type="text" [(ngModel)]="pessoa.nome" required>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col s12 m4 l4">
    <mat-form-field>
      <input matInput placeholder="Idade" type="number" [(ngModel)]="pessoa.idade" required>
    </mat-form-field>
  </div>

  <div class="col s12 m4 l4">
    <mat-form-field>
      <input matInput placeholder="CPF" type="text" [(ngModel)]="pessoa.cpf" required>
    </mat-form-field>
  </div>

  <div class="col s12 m4 l4">
    <mat-form-field>
      <input matInput placeholder="RG" type="text" [(ngModel)]="pessoa.rg" required>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col s12 m4 l4">
    <mat-radio-group>
      <div>
        <mat-radio-button value="1">Masculino</mat-radio-button>
      </div>
      <div>
        <mat-radio-button value="2"  >Feminino</mat-radio-button>
      </div>
      <div>
        <mat-radio-button value="3" >Outros</mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
</div>
<!--
<div class="row">
  <div class="col s12 m4 l4">
    <button mat-button (click)="salvarPessoa()">Salvar</button>
  </div>
</div>
-->

<div class="row footer-btn">
  <div class="button-row col s12"> 
      <button mat-raised-button (click)="voltar()" >Voltar</button>    
      <button mat-raised-button color="green" (click)="salvarPessoa()">Salvar</button>
      <!--<button *ngIf="edicao" mat-raised-button color="green" (click)="atualizar()">Atualizar</button>-->
  </div> 
</div>
  
  <!--Exemplo de NGFor como se fosse foreach no java
  <div *ngFor="let pessoa of pessoas">
    <p>{{pessoa.pessoaId}} - {{pessoa.nome}}</p>
  </div>
  -->

  <div class="row heading">
    <div class="col s12">
      <h2 class="title">Lista Pessoas</h2>
      <div class="heading__tools">
        <div class="search">
          <mat-form-field>
            <mat-icon svgIcon="slidenav-search"></mat-icon>
            <input matInput id="pesquisarId" name="pesquisar" placeholder="Pesquisar" 
            (keyup)="aplicarFiltro($event.target.value)">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col s12 m12 l12">  
    <mat-table #table [dataSource]="dataSource" matSort class="table-striped">
      <!-- Codigo -->
      <ng-container matColumnDef="pessoaId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pessoaId}} </mat-cell>>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="idade">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Idade </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.idade}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="cpf">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cpf}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="rg">
          <mat-header-cell *matHeaderCellDef mat-sort-header> RG </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.rg}} </mat-cell>
        </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>  
    <mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>  
  </div>
</div>

