<div class="titulo">
  <h3>
    Cadastro de Veiculo
  </h3>
</div>

<div class="row">
  <div class="col s12 m3 l3">
    <mat-form-field>
      <input matInput placeholder="Código" type="number" [(ngModel)]="veiculoModel.veiculoId" required>
    </mat-form-field>
  </div>
  <div class="col s12 m9 l9">
    <mat-form-field>
      <input matInput placeholder="Placa" type="text" [(ngModel)]="veiculoModel.placa" required>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 l6">
    <mat-form-field>
      <input matInput placeholder="Renavan" type="number" [(ngModel)]="veiculoModel.renavan" required>
    </mat-form-field>
  </div>

  <div class="col s12 m6 l6">
    <mat-form-field>
      <input matInput placeholder="Chassi" type="text" [(ngModel)]="veiculoModel.chassi" required>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 l6">
    <mat-form-field>
      <input matInput placeholder="Marca" type="text" [(ngModel)]="veiculoModel.marca" required>
    </mat-form-field>
  </div>

  <div class="col s12 m6 l6">
    <mat-form-field>
      <input matInput placeholder="Modelo" type="text" [(ngModel)]="veiculoModel.modelo" required>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 l6">
    <mat-form-field>
      <input matInput placeholder="Ano" type="number" [(ngModel)]="veiculoModel.ano" required>
    </mat-form-field>
  </div>

  <div class="col s12 m2 l2">
    <mat-form-field>
        <mat-select placeholder="Cor" name="or" [(ngModel)]="veiculoModel.cor"  >
            <mat-option *ngFor="let cor of cores" [value]="cor">
                {{cor.descricao}}
            </mat-option>
        </mat-select>
      </mat-form-field>
  </div>  
</div>

<div class="row footer-btn">
  <div class="button-row col s12"> 
      <button mat-raised-button (click)="voltar()" >Voltar</button>    
      <button *ngIf="!update" mat-raised-button color="green" (click)="salvar()">Salvar</button>
      <button *ngIf="update" mat-raised-button color="green" (click)="atualizar()">Atualizar</button>
  </div> 
</div>

  <div class="row heading">
    <div class="col s12">
      <h2 class="title">Lista Veiculos</h2>
      <div class="heading__tools">
        <div class="search">
          <mat-form-field>
            <mat-icon svgIcon="slidenav-search"></mat-icon>
            <input matInput id="pesquisarId" name="pesquisar" placeholder="Pesquisar" 
            (keyup)="aplicarFiltro($event.target.value)">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col s12 m12 l12">  
    <mat-table #table [dataSource]="dataSource" matSort class="table-striped">
      <!-- Ações -->
      <ng-container matColumnDef="actionsColumn">
          <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button mat-icon-button>
                  <mat-icon class="link_action" svgIcon="form-trash" matTooltip="Excluir" (click)="excluir(element.veiculoId)"></mat-icon>
              </button>  
              <button mat-icon-button>
                  <mat-icon class="link_action" svgIcon="form-edit" matTooltip="Editar" (click)="editar(element.veiculoId)"></mat-icon>
              </button>
          </mat-cell>
        </ng-container>   

      <!-- Codigo -->
      <ng-container matColumnDef="veiculoId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.veiculoId}} </mat-cell>>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="placa">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Placa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.placa}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="renavan">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Renavan </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.renavan}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="chassi">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Chassi </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.chassi}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="marca">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Marca </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.marca}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="modelo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.modelo}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="ano">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ano </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ano}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="cor">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cor.descricao}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>  
    <mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>  
  </div>
</div>
